/* Styling home page */
.home-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.home-container {
  display: flex;
  text-align: center;
  align-content: flex-start;
  margin-bottom: 50px;
}

.home-container > * {
  flex: 1 100%;
  border-radius: 10px;
}

.home-pic-cv {
  flex-direction: column;
}

.home-description {
  margin-left: -100px;
}

.cvBtton {
  top: 50%;
  background-color: rgb(16, 89, 163);
  color: white;
  border: none;
  padding: 10px;
  min-height: 10px;
  min-width: 10px;
  margin: 10px;
  font-family: "Montserrat";
}

.cvBtton:hover {
  background-color: rgb(121, 166, 198);
  cursor: pointer;
}

/* Scroll down animation */
.scroll-button {
  position: absolute;
  text-align: center;
  background: white;
  border: none;
  font-size: 40px;
  color: rgb(16, 89, 163);
  overflow: hidden;
  animation: jumpInfinite 1.5s infinite;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.scroll-button:hover {
  cursor: pointer;
}

.scroll-button:after {
  content: " ";
  position: absolute;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

/* Styling skills home page */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs-container {
  background-color: rgb(206, 227, 241);
}

/* logos */
.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: "Montserrat";
  min-height: 35vh;
}

.skills-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.skills-image {
  width: 65px;
  height: auto;
}

.gazebo {
  width: 30px;
  height: auto;
}

.arduino {
  width: 45px;
  height: auto;
  margin-top: 6px;
}

.backtotopbtn {
  color: rgb(16, 89, 163);;
  background-color: white;
  font-weight: bold;
  border: none;
  font-size: large;
  padding: 10px;
  min-height: 10px;
  min-width: 10px;
  margin-top: 75px;
  font-family: "Montserrat";
}

.backtotopbtn:hover {
  cursor: pointer;
}
