* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Montserrat';
}

.container {
    margin: 1rem;
    text-align: center;
}

/* Navbar styling */
.nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    font-size: 1.25rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.nav li.active {
    text-decoration: underline;
    text-decoration-color: rgb(16, 89, 163);
}

.nav li:hover {
    background-color: rgb(121, 166, 198);
}

/* Footer styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(16, 89, 163);
    color: black;
    text-align: center;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    margin: 20px 10px;
    background-color: rgb(1, 98, 171);
    border-radius: 50%;
    color: white;
  }

.wrapper{
    display: inline-flex;
}

.fa:hover {
    background-color: rgb(121, 166, 198);
}

.cvBtton{
   top: 50%;
   background-color: rgb(16, 89, 163);
   color: white;
   border: none;
   padding:10px;
   min-height:10px; 
   min-width: 10px;
   margin: 10px;
   font-family: 'Montserrat';
}

.cvBtton:hover {
    background-color: rgb(121, 166, 198);
}

.myPic {
    height: 200px;
    width: 170px;
    box-shadow: 0 10px 10px #536b62;
    border: 3px solid rgb(16, 89, 163); 
    margin-top: 20px;
}

/* Styling home page */
.home-container {
    display: flex; 
    text-align: center;
    align-content: flex-start;
    gap: 1px;
    margin: 100px;
    margin-bottom: 50px;
}

.home-container > * {
    flex: 1 100%;
    border-radius: 10px;
}

.home-pic-cv {
    flex-direction: column;
}

.home-description {
    margin-left: -100px;
}

/* Scroll down animation */
.scroll-button {
    position: absolute;
    text-align: center;
    background: white;
    border: none;
    font-size: 40px;
    color: rgb(16, 89, 163);
    overflow: hidden;
    animation: jumpInfinite 1.5s infinite;
}

.scroll-button:after {
    content: " ";
    position: absolute;
    transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }

/* Styling skills home page */
.skills-container {
    display: flex; 
    text-align: start;
    gap: 50px;
    margin: 20px 50px;
}

.skills-container > * {
    flex: 1 100%;
    background-color: rgb(121, 166, 198);
}

/* Styling about page */
.about-container {
    display: flex; 
    text-align: center;
    align-content: flex-start;
    gap: 10px;
}

.about-container > * {
    padding: 10px;
    margin-top: 30px;
    flex: 1 100%;
    border-radius: 10px;
}

.about-description {
    margin-left: 100px;
    text-align: justify;
}

.about-pic {
    margin-right: 150px;
}

h3 {
    font-weight: normal;
}



