* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to left, #ffffff, #d7e1ec);
}

.container {
    margin: 1rem;
    text-align: center;
}

/* Navbar styling */
.nav {
    background-color: rgb(60, 97, 109);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    font-size: 1.25rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.nav li.active {
    color: lightblue;
}

.nav li:hover {
    background-color: #777;
}

/* Footer styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    margin: 20px 10px;
    box-shadow: 0 10px 10px #d7e1ec;
    border-radius: 50%;
  }
    
.fa-google {
    color: black;
  }

.fa-linkedin {
    color: black;
}

.fa-github {
    color: black
}

.wrapper{
    display: inline-flex;
}

.fa:hover {
    color: white;
}

.fa-google:hover{
    background: #dd4b39;
}

.fa-linkedin:hover{
    background: #007bb5;
}

.fa-github:hover{
    background: black;
}

.cvBtton{
   top: 50%;
   background-color: rgb(60, 97, 109);
   color: white;
   border: none;
   border-radius: 10%;
   padding:10px;
   min-height:10px; 
   min-width: 10px;
   box-shadow: 0 10px 10px rgb(119, 144, 152);
}

.cvBtton:hover {
    background-color: #777;
}

.grid-container {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

.grid-item-2 {
    grid-row: span 2;
}

.myPic {
    height: 200px;
    width: 170px;
    border-radius: 10%;
    box-shadow: 0 10px 10px #b7d2ee;
    border: 5px solid #9aacc0; 
    margin: 20px 20px;
}

/* Styling about page */
.flex-container {
    display: flex; 
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.flex-1 {
    justify-self: flex-start;
}

.flex-2 {
    display: inline-flex;
}
