* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #c5fde7;
    font-family: Garamond, serif;
}

.container {
    margin: 1rem;
    text-align: center;
}

/* Navbar styling */
.nav {
    background-color: #536b62;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    font-size: 1.25rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.nav li.active {
    color: #c5fde7;
}

.nav li:hover {
    background-color: #81aa99;
}

/* Footer styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c5fde7;
    color: black;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    margin: 20px 10px;
    background-color: white;
    border-radius: 50%;
  }
    
.fa-google {
    color: black;
  }

.fa-linkedin {
    color: black;
}

.fa-github {
    color: black
}

.wrapper{
    display: inline-flex;
}

.fa:hover {
    color: white;
    background-color: #536b62;
}

.cvBtton{
   top: 50%;
   background-color: #536b62;
   color: white;
   border: none;
   padding:10px;
   min-height:10px; 
   min-width: 10px;
}

.cvBtton:hover {
    background-color: #81aa99;
}

.grid-container {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    grid-auto-flow: row;
}

.grid-item-2 {
    grid-row: span 2;
}

.myPic {
    height: 200px;
    width: 170px;
    box-shadow: 0 10px 10px #536b62;
    border: 3px solid #536b62; 
    margin: 20px 20px;
}

.grid-item-4 {
    grid-column: span 2;
    justify-self: start;
}

.flexbox-skills {
    display: flex; 
    flex-flow: row wrap;
    text-align: center;
}

.flex-container-skills > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

/* Styling about page */
.flex-container {
    display: flex; 
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.flex-1 {
    justify-self: flex-start;
}

.flex-2 {
    display: inline-flex;
}

h2 {
    text-align: justify;
}
